<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const sala = new URLSearchParams(window.location.search).get('sala');

    if (sala) {
        socket.emit('join', sala);
    }

    function enviar() {
        const input = document.getElementById('msg');
        const mensagem = input.value.trim();

        if (mensagem.length > 0) {
            socket.emit('send-server', mensagem);
            input.value = '';
        }
    }
    socket.on('send-client', function(msg) {
        const chat = document.getElementById('chat');
        chat.innerHTML += msg;
    });
</script>

<header>
    <h2>Ntalk - Chat</h2>
</header>

<section>
    <pre id="chat"></pre>
    <input type="text" id="msg" placeholder="Mensagem">
    <button onclick="enviar();">Enviar</button>
</section>

<% include ../exit %>
<% include ../footer %>
