<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ntalk - Agenda de Contatos</title>
</head>
<body>
    <header>
        <h1>Bem vindo</h1>
        <h4>Bem Vindo!</h4>
    </header>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="usuario[nome]" placeholder="Nome"><br>
            <input type="text" name="usuario[email]" placeholder="E-mail"><br>
            <button type="submit">Entrar</button>
        </form>
    </section>
    <footer>
        <small>Ntalk - Agenda de Contatos</small>
    </footer>
</body>
</html>